@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');

:root {
    --cor-primaria: #D0B8A8;
    --cor-secundaria: #F8EDE3;
    --cor-terciaria: #8D493A;

    --fonte-primaria:"Krona One", sans-serif;
    --fonte-secundaria:"Montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
}

.cabecalho__menu__link:hover {
    color: var(--cor-secundaria);
    background-color: var(--cor-terciaria);
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.apresentacao{
    padding: 6% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 82px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font: 24px;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.foto__perfil{
    width: 35%;
    border-radius: 16px;
    border: 10px solid var(--cor-terciaria);
}

.apresentacao__links__redes {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    position: relative;
    transition: all 0.3s ease;
}

.apresentacao__links__redes:hover {
    background-color: var(--cor-terciaria);
    color: var(--cor-secundaria);
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
}

.img__redes {
    width: 50px;
    height: auto;
    transition: transform 0.3s ease;
}

.apresentacao__links__redes:hover .img__redes {
    transform: scale(1.1);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.rodape{
    padding: 24px; 
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px){

    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        gap: 50px;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }
}